/.vscode
/081_PrakPointer_Latihan.docx
/081_TIB22_Yunus Dhanzky H_Tugas individu.docx
/alin
/Custom Office Templates
/data
/desktop.ini
/file_data
/GitHub
/Javascript-learning
/Kuliah
/MATLAB
/My Cheat Tables
/My Games
/pemdas
/perlu
/python
/react learn
/Rockstar Games
/sisdig
/Sound Recordings
/Templat Office Kustom
/The Witcher 3
/upate js.txt
/VideoPad Projects
/Visual Studio 2022
/webtest
/webtestanother
/Zoom
/My Music
/My Pictures
/My Videos